@import '../../node_modules/uikit/dist/css/uikit.min.css';

$global-text-color: #3c484e;

html {
    font-size: 22px;
    line-height: 1.7;
    font-family: Georgia, serif;
    color: $global-text-color;
}

.tag-group {
    .uk-button {
        margin-right: 10px;
    }
}

.uk-article {
    .uk-article-meta {
        font-size: 16px;
    }
    pre {
        padding: 16px;
        overflow: auto;
        background-color: #f6f8fa;
        border: none;
        border-radius: 3px;
    }
}

li {
    a.active {
        color: #333;
        border-bottom: 3px solid #333;
    }
}